/* =====================================================
   MAHAM NOOR PORTFOLIO
   RESPONSIVE CSS
===================================================== */


/* =========================
   LARGE DEVICES
   1200px
========================= */

@media(max-width:1200px){

    .container{
        width:92%;
    }


    .hero-container{
        gap:50px;
    }


    .image-box{
        width:380px;
        height:380px;
    }


    .project-grid{
        grid-template-columns:repeat(2,1fr);
    }


    .skills-grid{
        grid-template-columns:repeat(3,1fr);
    }

}



/* =========================
   TABLET
   992px
========================= */


@media(max-width:992px){


    .section{
        padding:90px 0;
    }



    /* HEADER */

    .navbar{

        position:fixed;
        top:84px;
        left:0;
        width:100%;

        background:
        rgba(6,8,22,.95);

        backdrop-filter:blur(20px);

        flex-direction:column;

        align-items:center;

        padding:35px 0;

        transform:translateY(-150%);

        transition:.4s ease;

        border-bottom:1px solid var(--border);

    }



    .navbar.active{

        transform:translateY(0);

    }



    .navbar a{

        font-size:1.1rem;

    }



    .menu-btn{

        display:flex;

        align-items:center;

        justify-content:center;

    }




    /* HERO */


    .hero{

        padding-top:120px;

    }


    .hero-container{

        grid-template-columns:1fr;

        text-align:center;

    }


    .hero-content p{

        margin-left:auto;
        margin-right:auto;

    }


    .hero-buttons{

        justify-content:center;

    }


    .social-icons{

        justify-content:center;

    }


    .hero-image{

        margin-top:40px;

    }



    .hero-image::before{

        width:420px;
        height:420px;

    }



    .image-box{

        width:330px;
        height:330px;

    }



    /* SKILLS */


    .skills-grid{

        grid-template-columns:repeat(2,1fr);

    }



    /* PROJECTS */


    .project-grid{

        grid-template-columns:1fr;

    }



    .project-card{

        max-width:700px;

        margin:auto;

    }



    /* CONTACT */


    .contact-layout{

        grid-template-columns:1fr;

    }



}




/* =========================
   MOBILE
   768px
========================= */


@media(max-width:768px){



    body{

        font-size:15px;

    }



    .section{

        padding:70px 0;

    }



    .section-title{

        margin-bottom:50px;

    }



    .section-title h2{

        font-size:2rem;

    }





    /* HERO */


    .hero{

        min-height:auto;

        padding-bottom:80px;

    }



    .hero-content h1{

        font-size:3rem;

        letter-spacing:-1px;

    }



    .hero-content h2{

        font-size:1.5rem;

    }



    .hero-content p{

        font-size:1rem;

    }



    .small-title{

        padding:8px 15px;

    }




    .image-box{

        width:280px;

        height:280px;

    }




    .hero-image::before{

        width:330px;

        height:330px;

    }





    /* BUTTON */


    .btn{

        width:100%;

        padding:14px 20px;

    }



    .hero-buttons{

        flex-direction:column;

        width:100%;

    }





    /* SKILLS */


    .skills-grid{

        grid-template-columns:1fr;

    }



    .skill-card{

        padding:30px 20px;

    }






    /* PROJECT */


    .project-card img{

        height:220px;

    }



    .project-info{

        padding:25px 20px;

    }



    .project-info h3{

        font-size:1.3rem;

    }



    .tech-tags span{

        font-size:.8rem;

    }




    .project-details ul{

        padding-left:18px;

    }




    /* TIMELINE */


    .timeline{

        padding-left:20px;

    }


    .timeline-item{

        padding:25px 20px;

    }





    /* CONTACT */


    .contact-box,
    .contact-form{

        padding:25px 20px;

    }



    .contact-item{

        gap:15px;

    }




}





/* =========================
   SMALL MOBILE
   480px
========================= */


@media(max-width:480px){



    .nav-container{

        height:75px;

    }



    .logo{

        font-size:1.5rem;

    }



    .hero-content h1{

        font-size:2.5rem;

    }



    .hero-content h2{

        min-height:auto;

    }




    .image-box{

        width:240px;

        height:240px;

        padding:7px;

    }



    .hero-image::before{

        width:280px;

        height:280px;

    }





    .social-icons a{

        width:45px;

        height:45px;

        border-radius:14px;

    }





    .section-title p{

        font-size:.95rem;

    }





    .project-card img{

        height:180px;

    }



    .project-info span{

        display:inline-block;

        margin-bottom:6px;

    }




    .contact-item{

        flex-direction:column;

        align-items:flex-start;

    }




    input,
    textarea{

        font-size:15px;

    }


}





/* =========================
   EXTRA SMALL
   360px
========================= */


@media(max-width:360px){


    .container{

        width:94%;

    }


    .hero-content h1{

        font-size:2.2rem;

    }


    .image-box{

        width:210px;

        height:210px;

    }


    .btn{

        font-size:.9rem;

    }


}
